[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/tmxparser"]
	path = submodules/tmxparser
	url = https://github.com/shanesatterfield/tmxparser.git
